{
  "pid": "com.tibco.bw.stat.appnode.53af1707-99e9-4279-8ea0-0fd7143c5225",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.53af1707-99e9-4279-8ea0-0fd7143c5225",
      "type": "java.lang.String"
    }
  }
}